@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Poppins:ital,wght@0,100;0,300;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

li, a, button {
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    background-color: black;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    width: 75px;
    height: 75px;
    margin: 0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #90ddf0;
    
}

.homepage {
    background-image: linear-gradient(to bottom right, #141e30, #243b55);
    margin: 0vh;
    padding: 300px;
    color: white;
    display: inline-block;
    width: 100%;
}

.homepage h1 {
    text-transform: uppercase;
    font-size: 100px;
    font-family: "Montserrat" , sans-serif;
    line-height: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage h1:hover {
    color: #90ddf0;
    transition: all 0.5s ease 0s;
    letter-spacing: 3px;
}

.homepage p {
    font-size: 30px;
    font-family: "Montserrat" , sans-serif;
    text-align: center;
    word-spacing: 0.5px;
}

.avi {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    float: right;
    left: 50px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.about-me {
    background: white;
    padding: 300px;
    color: black;
    display: inline-block;
    width: 100%;
    margin: 0vh;
}

.about-me p { 
    font-family: "Montserrat" , sans-serif;
    font-size: 25px;
    word-spacing: 0.5px;
}


.about-me h2 p {
    display: flex;
    justify-content: flex-start;
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
}

.about-me a {
    display: inline-block;
    font-size: 1em;
    background: black;
    padding: 10px 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s;
    margin: 10px;
    justify-content: space-evenly;
    opacity: 50%;
}

.about-me a:hover {
    transition: all 0.5s ease 0s;
    letter-spacing: 6px;
    opacity: 1;
}

.about-me h2 {
    text-transform: uppercase;
    font-size: 75px;
    font-family: "Montserrat" , sans-serif;
    text-align: center;
}

.about-me h2:hover {
    color: #90ddf0;
    transition: all 0.5s ease 0s;
    letter-spacing: 3px;
    
}

.work {
    background-image: linear-gradient(to bottom right, #141e30, #243b55);
    margin: 0vh;
    color: white;
    display: inline-block;
    font-family: "Montserrat" , sans-serif;
    width: 100%;
    padding: 100px;
}

.projects {
    display: inline-block;
    transition: 0.2s
}

.projects:hover {
transition: all 0.3s ease 0s;
opacity: 50%;
}

.work h2 {
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work h2:hover {
    color: #90ddf0;
    transition: all 0.5s ease 0s;
    letter-spacing: 3px;
}
.work p {
    text-align: center;
    padding: 10px;
    word-spacing: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.social {
    position: relative;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: cover;
}

.social li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 100px;
}

.social li a {
  display: inline-block;
  margin: 0px;
  transform: scale(0.5);
  transition: 0.5s;
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
    color: #90ddf0;
}

.footer {
    font-family: "Montserrat" , sans-serif;
    background-color: black;
} 
